/**********************
* Rule 
**********************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/**********************
* Rule 
**********************/

/**********************
* Utility 
**********************/
.clerfix::after{
    content: "";
    display: table;
    clear: both;
}
/**********************
* end Utility 
**********************/

/**********************
* Header
**********************/

/**********************
* end Header
**********************/

/**********************
* Main
**********************/

/**********************
* end Main
**********************/

/**********************
* Footer
**********************/

/**********************
* end Footer
**********************/