/**********************
* Rule 
**********************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**********************
* Rule 
**********************/


/**********************
* Utility 
**********************/

.clerfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.container_small{
    width: 70%;
    height: 680px;  
    margin: auto;
    padding-top: 2rem;
}

.float_sx{
    float: left;
}

.float_dx{
    float: right;
}

a{
    cursor: pointer;
}
/**********************
* end Utility 
**********************/


/**********************
* Header
**********************/

#hp_header{
    height: 550px;
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
    position: relative;
}

.header_txt{
    font-size: 0.6rem;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 1rem;  
}

.header_txt:hover{
    color: #8fd503;

}

/* Nav */
.hp_nav{
    height: 50px;
    cursor: pointer;
    padding-top: 0.5rem;
}

.head_menu{
    padding: 1rem 0rem 0rem 3rem;
}

/* end Nav */

/* Hero txt */
#hero_txt{
    font-size: 3rem;
    color: #ffffff;
    position: absolute;
    bottom: 40%;
    left: 10%;
}
/* Hero txt */

/**********************
* end Header
**********************/


/**********************
* Main
**********************/

#grey_title{
    font-size: 1.5rem;
}

.grey_section{
    text-align: center;
    line-height: 2.5rem;
    padding-top: 2.6rem;
    padding-bottom: 2.2rem;
}

.grey_section, .lastgrey_section{
    font-size: 1.2rem;
    background-color: #D3D3D3;
}

.main_txt{
    font-size: 1.2rem;
    color: #808080;
    line-height: 1.8rem;
    
}

.article_contain{
    height: 640px;
}

.main_article{
    height: 400px;
    width: calc(100%/3);
    text-align: center;
    position: relative;
}

.article_img{
    height: 250px;
    width: auto;
    margin: 2rem 0rem 1rem 2rem;
}

.article_title{
    color: #7CBB02;
    font-size: 2rem;
}

.line_decor::after{
    content: '';
    width: 150px;
    height: 2px;
    background-color: #808080;
    display: inline-block;
    margin: 2rem 0;
}

.final_img{
    height: 600px;
    width: 50%;
}

.final_article{
    width: 50%;
    padding: 2rem 2rem 2rem 10rem;

}

.last_title{
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
}

.last_link{
    color: #5586BC;
    padding-left: 10rem;
}

/**********************
* end Main
**********************/


/**********************
* Footer
**********************/

.lastgrey_section{
    height: 150px;
    padding-top: 3rem;
}

#footer_link a{
    padding-right: 2rem;
}

#footer_link{
    position: relative;
    height: 100px;

}


/**********************
* end Footer
**********************/


/**********************
* Button
**********************/

.button{
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 1rem;
}

.o_button{
    border: 1px solid white;
}

.s_button{
    background-color: #7CBB02;
}

.o_button:hover{
    background-color: #649403;
}

.s_button:hover{
    background-color: #649403;
}

#big_button{
    margin-left: 0;
    position: absolute;
    top: 125%;
}   

.b_button, #big_button{
    font-size: 0.8rem;
    padding: 16px 32px;
}

#last_button{
    position: fixed;
    bottom: 0;
    right: 14.3rem;
}
/**********************
* end Button
**********************/

